<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org" xmls:layout="http://www.ultraq.net/thymeleaf/layout">
<head>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>Paletrex - Organizador de palatras</title>
</head>
<body>

<form th:object="${palestra}" th:action="@{/salvarPalestra}" method="POST">


Tema da palestra: <input type="text" name="nome" th:field="*{nome}">
Palestrante:  <input type="text"  name="palestrante" th:field="*{palestrante}">
Local: <input type="text"  name="local"  th:field="*{local}">
Hora:   <input type="time"name="hora" th:field="*{hora}">
Data:  <input type="date" name="data"  th:field="*{data}">
<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
</form>

</body>
</html>