<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formulário para Curriculo</title>
    <!-- Toda formatação de CSS se encontra no arquivo estiloativ5-->
    <link rel="stylesheet" href="estiloativ5.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   

  </head>
  <body>
  
  <div  class="container">
  <div  class="col-8"> <br> <br> <br>
  <img src="https://image.flaticon.com/icons/png/512/345/345609.png" class="rounded-circle-sm" width="150px"  alt="...">
   <form  class="form-group" method="post" target="_blank"  action="vizualizar"> <br>

       <label for="formGroupExampleInput">Nome</label > <br>
       <input class="form-control" type="text" name="nome" value="" placeholder="Digite seu nome"> <br>

       <label for="formGroupExampleInput">Data de nascimento</label> <br>
       <input  class="form-row" type="date" name="datanasc" value="" > <br>

       <label for="formGroupExampleInput">RG</label  > <br>
       <input class="form-control" type="text" name="rg" value="" maxlength="" placeholder="Insira seu RG"> <br>

       <label for="formGroupExampleInput">CPF</label> <br>
       <input class="form-control" type="text" name="cpf" value="" maxlength="11" placeholder="Insira seu CPF"> <br>

       <label for="formGroupExampleInput">Endereço</label > <br>
       <input class="form-control" type="text" name="endereco" value="" placeholder="R. João Alves" > <br>

       <label for="formGroupExampleInput">Telefone</label> <br>
       <input class="form-control" type="text" name="telefone" value="" maxlength="11" placeholder="DDD 0000-0000"> <br>

       <label for="formGroupExampleInput" >Celular</label> <br>
       <input class="form-control" type="text" name="celular" value="" maxlength="12" placeholder="DDD 90000-0000"> <br>
  
		<label for="formGroupExampleInput">Ensino básico</label> <br>
       <input class="form-control" type="text" name="enbasico" value=""> <br>
       
       <label for="formGroupExampleInput">Ensino Superior</label> <br>
       <input class="form-control" type="text" name="ensuperior" value=""> <br>
       
       <label for="formGroupExampleInput">Especilizações</label> <br>
       <input class="form-control" type="text" name="especializacao" value=""> <br>
      
       <div class="form-row">
      <div class="form-group col-md-6">
      <label for="formGroupExampleInput">E-mail</label> <br>
      <input class="form-control" type="email" name="email" value="" placeholder="joao@email.com.br"> <br>

      <label for="formGroupExampleInput">Senha</label> <br>
      <input class="form-control" type="password" name="" value="senha" maxlength="20" placeholder="Maximo 20 caracteres"> <br>
		</div>
  		</div>
      <button class="btn btn-info" type="submit" name="button"> Confirmar</button>


    </form>
</div>
  </div>
 </div>


  </body>
</html>